* {
  box-sizing: border-box;
}

gmp-map {
    height: 100%;
    width: 50%;
}

#landmark {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 400px;
    width: 20%;
    border: 2px solid #000000;
    padding: 5px 5px 5px 5px;
}

label {
  width: 80%;
  margin-bottom: 5px;
}

input[type=text] {
  min-width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

input[type=button] {
  width: 100%;
  background-color: #00ccff;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

textarea {
  min-width: 100%;
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  label,
  input[type=text],
  input[type=button],
  input[type=file]
  textarea {
    flex: 100%;
    min-width: 100%;
  }
}

body {
  display: flex;
}